*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}
body{
    width: 100%;
    background:  url(../img/carbon_fibre.png);
}
.topnav img{
    height: 120px;
    margin: 2% 23%;
}
.topnav {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.658);
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.4rem;
    margin-top: 4%;
    padding-left: 2%;
  }
  .topnav a:hover{
      text-decoration: underline;
  }
  
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    margin-top: 4%;
  }
  
  .dropdown .dropbtn {
    font-size: 1.4rem;    
    border: none;
    outline: none;
    color: #fff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
.navbar {
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 90%;
    display: none;
    
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
  @media screen and (max-width: 980px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    
    .topnav.responsive {
        position: relative;
    }
    .topnav img{
        margin: 2% !important;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {
        float: none;
    }
    .topnav.responsive .dropdown-content {
        position: relative;
    }
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    .navbar{
        display: block !important;
    }
    .logoCont{
        width: 40px !important;
        height: 40px !important;
    }
    #footLeft{ 
        text-align: center !important;
    }
    #footLeft img{
        height: 100px !important;
    }
    #footDown{
        display: block !important;
    }
    #footRight ul{
        font-size: 1rem !important;
    }
    #center{
        /* display: block; */
        text-align: center;
    }
    .imageSn{
        display: block !important;
    }
    #textSn{
        margin-right: 0 !important;
    }
  }
/*************************
*                        *
*    Sneakers Section    *
*                        *
**************************/
#center{
    margin: 5%;
}
/* #center .imageSn:nth-child(odd){
    display: flex;
    justify-content: flex-end;
} */
#center h1{
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2%;
}
.imageSn img{
    height: 200px;
    width: 300px;
    border-radius: 20px 50px;
}
/* .imageSn img:nth-child(odd){
    display: flex;
    justify-content: flex-end;
} */
.imageSn{
    margin-bottom: 5%;
    display: flex;
}

#textSn{
    color: #fff;
    margin: 0 2%;
    margin-right: 15%;
    line-height: 25px;
}
#textSn h3{
    display: inline-block;
    font-size: 1.5rem;

}
#textSn h3:nth-child(odd){
    margin-left: 5%;
}
#textSn h2{
    font-size: 1.7rem;
    margin-bottom: 20px;

}
#textSn a{
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    background-color: rgb(25, 202, 149, 0.5);
    padding: 0 10px;
    border-radius: 15px 50px 30px 5px;
    color: #000;
}
#textSn a:hover{
    background-color: rgb(25, 202, 149, 1);
  }
#textSn .upBtn{
    background-color: rgb(58, 121, 16, 0.5);
    margin: 0 2%;
}
#textSn .upBtn:hover{
    background-color: rgb(58, 121, 16,1);
}
#textSn .delBtn{
    background-color: rgb(250, 0, 0, 0.5);
}
#textSn .delBtn:hover{
    background-color: rgb(250, 0, 0, 1);
}
#add{
    width: 100%;
    margin: 3% 0 5%;
    text-align: center;
}
.crtBtn{
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    background-color: rgba(0, 240, 168, 0.5);
    padding: 0 10px;
    border-radius: 15px 50px 30px 5px;
    color: #000;
    text-align: center; 
}
.crtBtn:hover{
    background-color: rgb(25, 202, 149, 1);
  }
/*************************
*                        *
*       FOOTER           *
*                        *
**************************/
#footUp{
    background-color: #fff;
    text-align: center;
}
.logoCont{
    width: 80px;
    height: 80px;
    margin: 3% 2%;
}
#footDown{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}
#footLeft{
    margin-bottom: 4%;
}
#footLeft img{
    height: 150px;
}
#footCenter{
    
    margin:2% 5% 0 ;
    align-items: center;
    
}
#footCenter h4{
    font-size: 1.4rem;
    font-family: 'Bebas neue', cursive;
    padding:0 10px;
    background-color: #9CBBA8;
    text-align: center;
}

#footRight ul{
    list-style-type: none;
    font-family: 'Bebas neue', cursive;
    font-size: 1.3rem;
    text-align: center;
    
}
#footRight li{
    margin-top: 5%;
}
#footRight a {
    text-decoration: none;
    color: inherit;
    padding:0 10px;
    background-color: #9CBBA8 ;
    
}

#footRight a:hover{
    box-shadow: 10px 10px 0px #000;
    top: -5px;
    left: -5px;

}
/*************************
*                        *
*          FORM          *
*                        *
**************************/

#formulaire{
    margin: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    padding:  2%;
    border-radius: 10px 50px;
}


 input[type=text],input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 1.5rem;
}
input[type=text], input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px 50px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  .row h3{
      padding: 3% 0;
    letter-spacing: 4px;
  }
  input {
    border: 2px solid currentcolor;
  }
  input:invalid {
    border: 2px dashed red;
  }
  input:invalid:focus {
    background-image: linear-gradient(rgb(255, 0, 43), rgb(255, 0, 0));
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #log{
    text-align: center;
    color: #fff;
    font-size: 2rem;
    margin-top: 2%;
  }
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 2%;
    }
  }
  #regBtn{
      margin-left: 5%;
  }
  #regBtn a{
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    background-color: rgb(25, 202, 149, 0.5);
    padding: 0 10px;
    border-radius: 15px 50px 30px 5px;
    color: #000;
}
#regBtn a:hover{
    background-color: rgb(25, 202, 149, 1);
  }