*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 100%;
}
body{
    width: 100%;
    background:  url(./img/carbon_fibre.png);
}
header{
    display: flex;
    margin-bottom: 5%;
}
#topLeft{
    margin: 30px 15% 0 5%;
}
#topLeft img{
    height: 120px;
}
#topCenter{
    margin: auto 10%;
}
#topCenter ul{
    display: flex;
    justify-content: space-between;
    
}
#topCenter ul li{
    margin: 0 5%;
    list-style-type: none;
    color: #fff;
    font-size: 2rem;
    font-family: 'Staatliches', cursive;

}
#topCenter ul li a{
    text-decoration: none;
    color: inherit;
}
#topRight{
    margin-top: 60px;
    margin-left: 15%;
}
#topRight a{
    margin: 0 auto;
    background-color: #fff;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 30px;
    color: #000;
    font-size: 1.3rem;
    font-family: 'Staatliches', cursive;
}
#topRight :hover {
    opacity: 80%;
    background-color: #000;
    color: #fff;
    
}
/*************************
*                        *
*       MAIN             *
*       CAROUSEL         *
*                        *
**************************/

main .CaroselImg{
    width: 100%;
    height: 80vh;
    position: relative;
}
@keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }



.CaroselImg  img{
    position: absolute;
    top: 0;
    left: 40%;
    opacity: 0;
    animation: display 10s infinite;
    width: 400px;
    border-radius: 40px;
    height: 550px;
}
.CaroselImg .image1{
    width: 520px;
    height: 550px;
}
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }
/*************************
*                        *
*       MAIN             *
*     10 LAST ELEMENTS   *
*                        *
**************************/
#center{
    background-color: cornflowerblue;
    margin: 5%;
    display: flex;
}
.imgsn{
    display: inline-block;
}
#rightside img{
    height: 200px;
    width: 300px;
}
